---
---
<section
    data-w-id="769a8f70-b32a-13e1-cacc-9ff715ed0366"
    class="section-podcast-channels"
>
    <div class="page-padding">
        <div class="container-medium">
            <div class="padding-vertical padding-huge">
                <div
                    class="podcast-channel_component text-align-center"
                >
                    <div class="padding-xxlarge">
                        <h2 class="heading-medium text-color-white">
                            Luister naar onze podcast! <br />Elke week een
                            nieuwe aflevering!
                        </h2>
                        <div class="margin-top margin-large">
                            <div class="channel-list">
                                <div
                                    id="w-node-_07e07449-da90-cc2e-dbec-6432e6ef6a97-86422b70"
                                    class="channel-item"
                                >
                                    <a
                                        href="https://open.spotify.com/show/19O8JqKPSbQWek15vG3sig?si=065cd2ef2c294d09"
                                        class="button-channel_wrapper w-inline-block" target="_blank"
                                        ><img
                                            src="/images/Spotify_logo_without_text.svg"
                                            loading="lazy"
                                            alt=""
                                            class="image_logo-channel"
                                        />
                                        <div class="text-block">Spotify</div>
                                    </a>
                                </div>
                                <div
                                    id="w-node-c99d440a-a94b-fcf4-7330-921a414acc7a-86422b70"
                                    class="channel-item"
                                >
                                    <a
                                        href="https://podcasts.apple.com/us/podcast/cinematen/id1674761868"
                                        class="button-channel_wrapper w-inline-block" target="_blank"
                                        ><img
                                            src="/images/apple-podcasts-icon.png"
                                            loading="lazy"
                                            alt=""
                                            class="image_logo-channel"
                                        />
                                        <div class="text-block">Apple Podcasts</div>
                                    </a>
                                </div>
                                <div
                                    id="w-node-e1e8f230-771c-272b-65ba-e9de54d7dd59-86422b70"
                                    class="channel-item"
                                >
                                    <a
                                        href="https://anchor.fm/s/db58cba0/podcast/rss"
                                        class="button-channel_wrapper w-inline-block" target="_blank"
                                        ><img
                                            src="/images/rss.svg"
                                            loading="lazy"
                                            alt=""
                                            class="image_logo-channel"
                                        />
                                        <div class="text-block">RSS Podcast Feed</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<style>
    .button-channel_wrapper .text-block {
        color: #000;
    }
    .button-channel_wrapper:visited .text-block,
    .button-channel_wrapper:hover .text-block,
    .button-channel_wrapper:active .text-block {
        color: #000;
    }
</style>