---

---
<section class="section-contact-form background-color-gradient-blue1" id="contact">
    <div class="page-padding">
        <div class="container-medium">
            <div class="padding-vertical padding-xxlarge">
                <h2>Contacteer ons!</h2>
                <div class="margin-top margin-large">
                    <div class="form-wrapper-2 w-form">
                        <form action="https://formspree.io/f/xknllzer" id="email-form" method="post" name="email-form" aria-label="Form"
                            >
                            <div class="form-field-wrapper"><input class="form-input-2 w-input" maxlength="256"
                                    name="Naam" data-name="Naam" placeholder="Naam" type="text" id="Naam"
                                    required="" /></div>
                            <div class="form-field-wrapper"><input class="form-input-2 w-input" maxlength="256"
                                    name="Email" data-name="Email" placeholder="Email" type="email" id="Email"
                                    required="" /></div>
                            <div class="form-field-wrapper"><textarea id="Message" name="Message"
                                    maxlength="5000" data-name="Message"
                                    placeholder="Je boodschap, vraag, compliment, suggestie, feedback, e.d..."
                                    class="form-input-2 is-text-area w-input"></textarea></div>
                            <div class="margin-top margin-small"><input type="submit" data-wait="Please wait..."
                                    class="button-2 is-form-submit w-button" value="Verzend" /></div>
                        </form>
                        </div>
                    <div class="margin-top margin-large">
                        <a href="mailto:info@cinematen.be" class="button-2 is-form-submit w-button" style="text-decoration: none; display: block; text-align: center; width: 33%; margin-left: auto; margin-right: auto;">Of mail ons!</a>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>