---

---
<section class="section-about" id="over-ons" >
    <div class="page-padding">
        <div class="container-medium">
            <div class="padding-bottom padding-large">
                <div class="w-layout-grid about_content-wrapper">
                    <div data-animation="banner-slide-in-left"
                        class="image_container"
                        id="aboutphoto"><img
                            src="https://assets-global.website-files.com/6613d9d7c23cff2286422b25/6614151b8140f4ab6e4c473c_icapps_Kerst%20op%20icapps%202023_DSC02135Smaller.png"
                            loading="lazy" sizes="100vw"
                            srcset="https://assets-global.website-files.com/6613d9d7c23cff2286422b25/6614151b8140f4ab6e4c473c_icapps_Kerst%20op%20icapps%202023_DSC02135Smaller-p-500.png 500w, https://assets-global.website-files.com/6613d9d7c23cff2286422b25/6614151b8140f4ab6e4c473c_icapps_Kerst%20op%20icapps%202023_DSC02135Smaller.png 560w"
                            alt="" class="image_blending-effect" /></div>
                    <div 
                        data-animation="banner-slide-in-right"
                        class="about_content" id="about_content_text">
                        <h2 class="heading-5">Wat zijn Cinematen?</h2>
                        <div class="margin-top margin-small">
                            <p>Ben je het beu om door al die streamingdiensten te scrollen zonder enig idee
                                wat je moet kijken? Sta je vaak in de grote inkomhal van de Kinepolis en
                                weet je totaal niet welke film je best kan zien?<br /><br />Laat Yorrick
                                &amp; Maarten je film- en tv-gidsen zijn! Met hun hilarische commentaar en
                                &quot;deskundige&quot; meningen weet je altijd wat je moet kijken. En zo
                                niet, dan kun je op zijn minst lachen om hun geflodder.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>