---
---

<section class="section-header background-color-gradient1">
	<div class="page-padding">
		<div class="container-medium">
			<div class="padding-vertical padding-huge">
				<div class="header_content">
					<img
						src="/images/LogoCleanSmaller.png"
						loading="lazy"
						width="300"
						alt=""
						class="image-3"
					/><div class="header-text">
						<h1 class="cinematen-logo-text">CINEMATEN.BE</h1><h2
							class="cinematen-tagline"
						>
							Film &amp; TV nieuws, reviews &amp; podcast
						</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
