---
---

<section class="section-header background-color-gradient1">
	<div class="page-padding">
		<div class="container-medium">
			<div class="padding-vertical">
				<div class="header_content">
					<img
						src="/images/LogoCleanSmaller.png"
						loading="lazy"
						width="160"
						alt=""
						class="image-3"
					/>
					<div class="header-text">
						<!-- Added partner title section -->
						<div class="partner-text">
							<span>Partner van</span>
							<img
								src="/images/kinepolis.png"
								alt="LOGO Antwerpen"
								class="partner-logo"
							/>
							<span>Antwerpen</span>
						</div>
						<!-- Existing header content -->
						<h2 class="cinematen-logo-text">CINEMATEN.BE</h2>
						<h3 class="cinematen-tagline">
							Film &amp; TV nieuws, reviews &amp; podcast
						</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
