---

---
<section class="section-about" id="over-ons" >
    <div class="page-padding">
        <div class="container-medium">
            <div class="padding-bottom padding-large">
                <div class="w-layout-grid about_content-wrapper">
                    <div 
                        class="image_container"
                        id="aboutphoto"><img
                            src="/images/cinematen-boys.png"
                            loading="lazy" sizes="100vw"
                            alt="" class="image_blending-effect" /></div>
                    <div 
                        
                        class="about_content" id="about_content_text">
                        <h2 class="heading-5">Wat zijn Cinematen?</h2>
                        <div class="margin-top margin-small">
                            <p>Ben je het beu om door al die streamingdiensten te scrollen zonder enig idee
                                wat je moet kijken? Sta je vaak in de grote inkomhal van de Kinepolis en
                                weet je totaal niet welke film je best kan zien?<br /><br />Laat Yorrick
                                &amp; Maarten je film- en tv-gidsen zijn! Met hun hilarische commentaar en
                                &quot;deskundige&quot; meningen weet je altijd wat je moet kijken. En zo
                                niet, dan kun je op zijn minst lachen om hun geflodder.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>