---

---

<div class="categories-block">
    <div class="title-large">Categorieën</div>
    <div class="categories-wrapper">
        <a href="/reviews&blogs/tags/film" class="categories-pill w-inline-block"><div class="title-small pink">Film</div></a>
        <a href="/reviews&blogs/tags/tv" class="categories-pill w-inline-block"><div class="title-small pink">TV</div></a>
        <a href="/reviews&blogs/tags/blog" class="categories-pill w-inline-block"><div class="title-small pink">Blog</div></a>
        <a href="/reviews&blogs/tags/vlaams" class="categories-pill w-inline-block"><div class="title-small pink">Vlaams</div></a>
        <a href="/reviews&blogs/tags/reality" class="categories-pill w-inline-block"><div class="title-small pink">Reality</div></a>
        <a href="/reviews&blogs/tags/actie" class="categories-pill w-inline-block"><div class="title-small pink">Actie</div></a>
        <a href="/reviews&blogs/tags/horror" class="categories-pill w-inline-block"><div class="title-small pink">Horror</div></a>
        <a href="/reviews&blogs/tags/comedy" class="categories-pill w-inline-block"><div class="title-small pink">Comedy</div></a>
    </div>
</div>
